<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='src/output.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/node_modules/htmx.org/dist/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='/node_modules/sortablejs/Sortable.min.js') }}"></script>
</head>
<body>
{% include "header.html" %}
<div id="tab-group" class="text-center" hx-swap="innerHTML" hx-get="/tab1" hx-target="#tab-group" hx-trigger="load delay:100ms"></div>
<script>
    htmx.onLoad(function (content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                ghostClass: 'blue-background-class'
            });
        }
    })
</script>
</body>
</html>