<div class="tabs">
    <a hx-get="/tab1"
       class="tab tab-bordered">Profile</a>
    <a hx-get="/tab2"
       class="tab tab-bordered tab-active"
       aria-current="page">Dashboard</a>
    <a hx-get="/tab3"
       class="tab tab-bordered">Settings</a>
</div>
<div class="flex flex-col">
    <input type="text" id="filter-by" class="input input-bordered w-full max-w-xs" onkeyup="filterByName()"
           placeholder="Search name">
    <table class="table w-full" id="name-table">
        <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column | upper }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="sortable">
        {% for person in data %}
            <tr>
                <td>
                    {{ person.Name }}
                </td>
                {% if person.Age > 50 %}
                    <td class="bg-red-500 text-white">
                        {{ person.Age }}
                    </td>
                {% else %}
                    <td class="bg-green-500 text-white">
                        {{ person.Age }}
                    </td>
                {% endif %}
                <td>
                    {{ person.Address }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function filterByName() {
        // Declare variables
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-by");
        filter = input.value.toUpperCase();
        table = document.getElementById("name-table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>