<ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tab"
    role="tablist">
    <li class="nav-item" role="presentation">
        <a hx-get="/tab1" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-green-500
      focus:border-transparent
    " id="tabs-home-tab" data-bs-toggle="pill" data-bs-target="#tabs-home" role="tab" aria-controls="tabs-home"
           aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
        <a hx-get="/tab2" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-green-500
      focus:border-transparent
      active
      selected
    " id="tabs-profile-tab" data-bs-toggle="pill" data-bs-target="#tabs-profile" role="tab"
           aria-controls="tabs-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a hx-get="/tab3" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-green-500
      focus:border-transparent
    " id="tabs-messages-tab" data-bs-toggle="pill" data-bs-target="#tabs-messages" role="tab"
           aria-controls="tabs-messages" aria-selected="false">Messages</a>
    </li>
</ul>
<div>
    <table>
        <thead class="border-b">
        <tr>
            {% for column in columns %}
                <th scope="col" class="text-sm  font-medium text-gray-900 px-6 py-4 text-left">
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for person in data %}
            <tr class="bg-white border-b">
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ person.Name }}
                </td>
                {% if person.Age > 50 %}
                    <td class="bg-red-500 text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{ person.Age }}
                    </td>
                {% else %}
                    <td class="bg-green-500 ext-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{ person.Age }}
                    </td>
                {% endif %}
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ person.Address }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>