<div class="tab-list">
    <a hx-get="/tab1"
       class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Profile</a>
    <a hx-get="/tab2"
       class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
       aria-current="page">Dashboard</a>
    <a hx-get="/tab3"
       class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Settings</a>
</div>
<div class="flex flex-col">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <input type="text" id="filter-by" onkeyup="filterByName()"
           placeholder="Search name"
           class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <table id="name-table">
        <thead class="border-b">
        <tr>
            {% for column in columns %}
                <th scope="col" class="text-sm  font-medium text-gray-900 px-6 py-4 text-left">
                    {{ column | upper }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for person in data %}
            <tr class="bg-white border-b">
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ person.Name }}
                </td>
                {% if person.Age > 50 %}
                    <td class="bg-red-500 text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{ person.Age }}
                    </td>
                {% else %}
                    <td class="bg-green-500 ext-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        {{ person.Age }}
                    </td>
                {% endif %}
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ person.Address }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function filterByName() {
        // Declare variables
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-by");
        filter = input.value.toUpperCase();
        table = document.getElementById("name-table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>